:root {
  --font: "Montserrat";

  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-grey: #e2e2e2;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}